BOT_TOKEN=
ADMIN_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=6019708243
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/checkers
PORT=7791
WEBAPP_URL=https://lms.yusufjon.uz
ADMIN_URL=https://bot.yusufjon.uz
GAME_HOST=lms.yusufjon.uz
ADMIN_HOST=bot.yusufjon.uz
JWT_SECRET=change-me
TRUST_PROXY=1
